body {
    margin: 0;
    padding: 0;
}

.jumbotron {
    text-align: center;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    background-color: rgb(172, 171, 168);
    margin-top: -3%;
    padding: 25px;
}

label {
    font-size: 20px;
}

.startButton {
    width: 8%;
    height: 30px;
    margin-top: 2%;
}

.dots {
    text-align: center;
    margin-top: 3%;
    width: 30%;
    margin-left: 35%;
}

.oneDot {
    display: none;
    border: 2px solid black;
    background-color: violet;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}